.card{
    border: 1px solid black;
    border-radius: 10px;
    box-shadow:  5px 5px 5px rgb(179, 179, 179);
    padding: 20px;
    margin: none;
    text-align: center;
    max-width: 250px;
    min-height: 400px;
    display: inline-block;
    justify-content: center;
    
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

#sedans{
    background-color: rgba(226, 133, 37, 255);
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}

#suvs{
    background-color: rgba(1, 105, 114, 255);
    color: aliceblue;
}

#luxury{
    background-color: rgba(0, 64, 63, 255);
    color: aliceblue;
    
}